---
import Layout from '../components/Layout.astro';
import { WHATSAPP_LINK } from '../consts';
import { Image } from 'astro:assets';
import logo from "../assets/Logo-vermelha-230x90.webp";
import fisioAdulto from "../assets/Fisio-UTI-ADULTO.webp";
import fisioPedneo from "../assets/fisio-pedneo.jpeg";
import enfermagemAdulto from "../assets/Enf.-UTI-ADULTO.jpg";
import enfermagemPedneo from "../assets/enfermagem-pedneo.jpeg";
import enfermagemObs from "../assets/Enf.-Obs.jpg";

const title="Conheça nossos Eventos e Pós-Graduações";
const ogImage = "https://www.nad-edu.com.br/wp-content/uploads/2023/04/Captura-de-tela-2023-04-12-142354.jpeg";

---

<Layout title={title} ogImage={ogImage} pos={false} description='Conheça as Pós-Graduações do Núcleo Avançado de Desenvolvimento'>
	<div class="bg-grey">
		<header class="p-4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 text-center">
						<Image src={logo} alt='Logomarca do Núcleo Avançado de Desenvolvimento' id="navbar-logo"> </Image>
					</div>
				</div>
			</div>
		</header>
		
		<main>
			<div class="container-fluid px-0 mx-0">
				<div class="row py-4 py-md-5">
					<div class="col pb-2 text-center">
						<h1 class="title-default"> PÓS-GRADUAÇÕES </h1>
					</div>
				</div>
				<div class="row justify-content-center gx-0 gy-4">
					<div class="col-12 col-md-6 text-center">
						<a href="/fisioterapia-uti-lead">
						<Image src={fisioAdulto} alt='Fisioterapia em Unidade de Terapia Intensiva' class='img-default'></Image></a>
					</div>
					<div class="col-12 col-md-6 text-center">
						<a href="/enfermagem-uti-lead">
						<Image src={enfermagemAdulto} alt='Enfermagem em Unidade de Terapia Intensiva' class='img-default'></Image></a>
					</div>
					<div class="col-12 col-md-6 text-center">
						<a href="/enfermagem-obstetricia-lead">
						<Image src={enfermagemObs} alt='Enfermagem em Obstetrícia' class='img-default'></Image></a>
					</div>
					<div class="col-12 col-md-6 text-center">
						<a href="/fisioterapia-pedneo-lead">
						<Image src={fisioPedneo} alt='Fisioterapia em UTI Pediátrica e Neonatal' class='img-default'></Image></a>
					</div>
					<div class="col-12 col-md-6 text-center">
						<a href="/enfermagem-pedneo-lead">
						<Image src={enfermagemPedneo} alt='Enfermagem UTI Pediátrica e Neonatal' class='img-default'></Image></a>
					</div>
					
				</div>
			</div>
		</main>
		
		<footer class="pt-5">
			<div class="row py-2 px-2">
				<div class="col-12 col-md-6 text-center text-md-start py-3">
					<a href={WHATSAPP_LINK} style="text-decoration: none">
						<p class="informacao"> Maiores informações: </p>
						<p class="informacao"> <svg class="icon icon-whatsapp social"><use xlink:href="#icon-whatsapp"></use></svg> <span style="font-size: 0.8rem;">88</span> <strong>2131-9977</strong></p>
					</a>
				</div>
				<div class="col-12 col-md-6 text-center text-md-end my-auto">
					<p class="informacao">
					<a class="social" href="https://www.facebook.com/nadcariri/?locale=pt_BR"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
					<a class="social mx-1" href="https://www.instagram.com/nadcariri/"> <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg> </a>
					<span style="font-size: 1.1rem;"><strong>@nad</strong>cariri</span></p>
				</div>
			</div>
			<div class="row py-2 px-2">
				<div class="col text-center">
					<p>
						2023 - Todos os direitos reservados - Núcleo Avançado de Desenvolvimento Empresarial e Profissional LTDA | CNPJ: 30.499.835/0001-07
					</p>
				</div>
			</div>
		</footer>
	</div>
	
</Layout>

<style>

	.bg-grey{
		background-color: transparent;
    	background-image: linear-gradient(180deg,#fff 0,#dedede 100%);
	}

	main {
		margin: auto;
		padding: 0.5rem;
	}

	p {
		line-height: 1.2em;
	}

	#navbar-logo {
		width: 180px;
		height: auto;
	}

	.title-default{
		color: #9c2929;
    	font-size: 1.5rem;
    	font-weight: 700;
	}

	.img-default{
		width: 95%;
		height: auto;
		border: 2px solid #a2a2a2;
		border-radius: 10px;
	}

	footer{
		color:#75061b;
		font-size: 0.8rem;
		font-weight: 500;
		
	}

	.informacao{
		font-size: 0.9rem;
		color: #3b3b3b;
		font-weight: 500;
	}

	.social{
		text-decoration: none;
		color: #831b1b;
		font-size: 1.3rem;
	}
	@media (min-width: 576px) {
		.img-default{
			width: 60%;
		}
		
	}

	@media (min-width: 768px) { 
		main {
			padding: 0.5rem 3rem;
		}
		.title-default{
    		font-size: 2rem;
    	}
		.img-default{
			width: 95%;
		}
		.informacao{
			font-size: 1rem;
		}
		footer{
			padding: 0.5rem 5vw;
		}
	}

	@media (min-width: 992px) {
		main {
			padding: 0.5rem 12vw;
		}
		.check-text{
			font-size: 1rem;
			margin-left: -10px;
		}
		.img-default{
			width: 90%;
		}

		footer{
			padding: 0.5rem 10vw;
		}
	}
</style>