---
import Modal from './Modal.astro';
import Layout from './Layout.astro';
import { VIDEO_URL, VIDEO_IMAGE } from '../consts';

export interface Props {
	title: string;
    primaryDefault: string;
    secondDefault:string; 
    logoPos: string;
    imageUTI: string;
    UTI: string;
    ogImage: string;
    mainPage: string;
}

const { title, primaryDefault, secondDefault, logoPos, imageUTI, UTI, ogImage, mainPage } = Astro.props;

---

<Layout title={title} ogImage={ogImage}>
	<header class="p-2 p-lg-4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 text-center text-md-start">
					<img id="navbar-logo" class="" src="/Logo-vermelha-230x90.webp" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<img id="pos-logo" width="280px" class="pt-4 pt-md-0" src={logoPos} alt="">
				</div>
			</div>
		</div>
	</header>
	
	<main>
		<div class="container-fluid px-0 mx-0">
			<div class="row py-lg-5 px-md-5 align-items-center">
				<div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
					<div class="text-center py-4 d-lg-none">
						<p class="lead-phrase">A única Pós-Graduação<br>da região com mais<br><span class="imersao">de 55% de imersão </span><br>prática no ambiente da UTI!</p>
					</div>
					<div id="video-img">
						<img class="img-default" src={VIDEO_IMAGE}/>
						<i class="bi bi-play-circle play"></i>
					 </div>
					 <div id="video" style="display:none">
						<iframe id="video-main" src={VIDEO_URL} title="PÓS-GRADUAÇÕES EM SAÚDE: CONHEÇA NOSSA METODOLOGIA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					 </div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="text-center d-none d-lg-block my-auto">
						<p class="lead-phrase">A única Pós-Graduação<br>da região com mais<br><span class="imersao">de 55% de imersão </span><br>prática no ambiente da UTI!</p>
					</div>
					<div class="text-start mt-5 mx-2 mx-sm-4 mx-md-5">
						<div class="row">
							<div class="col-1">
								<i class="bi bi-check-lg check"></i>
							</div>
							<div class="col-11">
								<p class="text-start check-text pt-2" >Metodologia pioneira e inovadora;</p>
							</div>
						</div>
						<div class="row">
							<div class="col-1">
								<i class="bi bi-check-lg check"></i>
							</div>
							<div class="col-11">
								<p class="text-start check-text pt-1" >Ambiente de UTI totalmente preparado para os seus Programas de Treinamento.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container-fluid forma px-0 mx-0 pb-sm-5 py-lg-5">
			<div class="row pt-5 py-lg-5 px-md-5 align-items-center">
				<div class="col-12 col-lg-6 pb-3 px-lg-5">
					<div class="text-center my-auto px-3">
						<p class="uti-1 py-2">Preparamos um vídeo <br> demonstrativo da estrutura <br> da {UTI}</p>
						<p class="uti-2 py-2 px-md-5">Acreditamos que é de suma importância o aluno conhecer o ambiente da prática antes mesmo de inscrever-se para a vaga.</p>
					</div>
				</div>
				<div class="col-12 col-sm-10 col-md-8 col-lg-5 px-4 mx-auto text-center">
					<img class="img-default" src={imageUTI}/>
				</div>
			</div>
		</div>
	
		<div class="container-fluid forma forma-button pb-5 px-0 mx-0">
			<div class="row pt-5 px-3">
				<div class="col text-center my-auto px-3">
					<p class="text-button py-2">Conheça seu local de prática hospitalar clicando no botão abaixo.</p>
				</div>
			</div>
			<div class="row pt-2 px-3">
				<div class="col text-center my-auto px-3 pb-5">
					<button type="button" class="btn btn-popup" data-bs-toggle="modal" data-bs-target="#Modal">Acesse</button>
				</div>
			</div>
			<div class="row pt-3 px-3 justify-content-end">
				<div class="col-10 col-sm-8 col-md-5 col-lg-4 my-auto pe-3 pe-md-5">
					<div class="row">
						<div class="col-5 col-sm-8 col-md-7 px-0 text-end">
							<i class="bi bi-geo-alt-fill address-icon"></i>
						</div>
						<div class="col-7 col-sm-4 col-md-5 text-center my-auto px-0">
							<p class="patio my-auto">PÁTIO CARIRI CORPORATE</p>
						</div>
					</div>
					<div class="row">
						<div class="col text-end my-auto">
							<p class="my-auto address-text">R. Catulo da Paixão Cearense, <br>175 – Triângulo,<br>Juazeiro do Norte – CE.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<footer>
		<div class="row py-2 px-2">
			<div class="col text-center">
				<p>
					2023 - Todos os direitos reservados - Núcleo Avançado de Desenvolvimento Empresarial e Profissional LTDA | CNPJ: 30.499.835/0001-07
				</p>
			</div>
		</div>
	</footer>
	
	<Modal href={mainPage} posName={title}></Modal>

	<script>
		var videoImg = document.getElementById("video-img");
		videoImg.addEventListener("click", function() {
			document.getElementById("video-main").src += "?autoplay=1";
			videoImg.style.display='none';
			document.getElementById("video").style.display='block';
		});
	</script>

</Layout>

<style define:vars={{ primaryDefault, secondDefault }}>
	main {
		margin: auto;
		padding: 0.5rem;
	}

	p {
		line-height: 1.2em;
	}

	#navbar-logo {
		width: 200px;
	}

	.img-default{
		width: auto !important;
		max-width: 100%;
	}

	#video-img{
		position: relative;
		width: 100%;
		height: auto;
		cursor: pointer;
		border: 5px solid var(--primaryDefault);
		box-shadow: 0 60px 40px -45px rgba(0,0,0,.68);
	}

	#video-main{
		width: 100%;
		height: 250px;
		max-height: 100%;
		border: 5px solid var(--primaryDefault);
		box-shadow: 0 60px 40px -45px rgba(0,0,0,.68);
	}

	.play{
		color: white; 
		font-size: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.lead-phrase{
		color: #727272;
		font-size: 18px;
		font-weight: 800;
	}

	.imersao{
		color: var(--secondDefault);
		font-size: 25px;
	}

	.check{
		color: var(--secondDefault);
		font-size: 25px;
		font-weight: 600;
		margin-right: 0px;
	}

	.check-text{
		color: #555;
		font-size: 0.9rem;
		font-weight: 500;
	}

	.uti-1 {
		color: var(--primaryDefault);
		font-size: 1.1rem;
		font-weight: 800;
	}

	.uti-2 {
		color: #8b8b8b;
		font-size: 0.9rem;
		font-weight: 500;
	}

	.forma{
		background-image: url(/forma.webp);
		background-position: 0 -350px;
		background-repeat: no-repeat;
		background-size: cover;

	}

	.forma-button{
		background-position: 0 20px;
	}

	.text-button{
		color: var(--primaryDefault);
		font-size: 0.9rem;
		font-weight: 500;
	}

	.btn-popup{
		background-color: transparent;
		background-image: linear-gradient(180deg,#24a26b 0,#1ec45a 100%);
		color: #fff;
		border-radius: 50px;
		padding: 15px;
		width: 190px;
		font-size: 1.1rem;
		font-weight: 700;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.btn-popup:hover, .btn-popup:active, .btn-popup:focus {
		color: #fff !important;
		background-image: linear-gradient(180deg,#24a26bcc 0,#1ec45acc 100%);
		border: none;
	}

	.btn-popup:hover{
		transform: scale(0.9);
	}

	.address-icon{
		font-size: 40px;
		color: var(--primaryDefault);
	}

	.patio{
		color: #7a7a7a;
		font-size: 0.8rem;
		font-weight: 700;
	}

	.address-text{
		color: #7a7a7a;
		font-size: 0.8rem;
		font-weight: 500;
	}

	footer{
		color:#75061b;
		font-size: 0.8rem;
		font-weight: 500;
	}

	@media (min-width: 576px) {
		.check-text{
			margin-left: -15px;
		}

		.uti-1{
			font-size: 1.2rem;
		}

		.uti-2{
			font-size: 1rem;
		}

		.text-button{
			font-size: 1rem;
		}

		.forma-button{
			background-position: 0 -270px;
		}	

	}

	@media (min-width: 768px) { 

		#navbar-logo {
			width: 230px;
		}

		#pos-logo {
			width: 350px;
		}

		#video-main{
			height: 350px;
		}

		.lead-phrase{
			font-size: 22px;
		}

		.imersao{
			font-size: 28px;
		}

		.check-text{
			font-size: 1rem;
			margin-left: -20px;
		}

		.uti-1{
			font-size: 1.3rem;
		}

		.uti-2{
			font-size: 1.1rem;
		}

		.text-button{
			font-size: 1.1rem;
		}

		.patio{
			font-size: 1rem;
		}
	}

	@media (min-width: 992px) {
		.check-text{
			font-size: 1rem;
			margin-left: -10px;
		}
	}
</style>


